/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {}

.logo {
	float:left;
}

.navigation {
	float:right;
}

.main-content {}
/* hint! */

.post {}
/* hint! */

.image {
	float:left;
	width: 200px;
	height: 200px;
}

.post_excerpt {
	float:right;
	width: 900px;
}

.header:after{
	display:block;
	content: "";
	clear: both;
}

.post:after{
	display:block;
	content: "";
	clear: both;
}