/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

.logo {
	float:left;
	width:250px;
}

.navigation {
	float:right;
	width:650px;
}

.sidebar {
	float:left;
	width:250px;
}

.main-content {}

.sub-content {
	float:right;
	width:650px;
}

.sub-content-2 {
	float:right;
	width:650px;
}

.footer {
	clear:both;
}

.header:after {
	display:block;
	content: "";
	clear:both;
}

.main-content:after {
	display:block;
	content: "";
	clear:both;
}
